html {
    /*background-image: url("/static/img/bg.jpg");*/
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
}

b {
    color: #3498db;
    background-color: #f8f8f8;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}

.link{
    margin-bottom: 25px;
}
.link a{
    margin-right: 25px;
}
